{% extends "layout.html" %}

{% block title %}Travel Catalog{% endblock %}

{% block content %}

<header class="navbar navbar-expand navbar-dark justify-content-between bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Travel Catalog</a>
        {% if user %}
        <a href="{{ url_for('gdisconnect') }}"><button class="btn btn-primary">Logout</button></a>
        {% else %}
        <a href="{{ url_for('show_login') }}"><button class="btn btn-primary">Login</button></a>
        {% endif %}

    </div>
</header>

<main class="container-fluid">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-6" align="center">

            {% if user %}
            <a href="{{ url_for('add_country') }}"><button class="btn btn-success">Add New Country</button></a>
            {% endif %}

            <h1>Countries</h1>

            {% for country in countries %}
            <a href = "#"> <p>{{country.name}}</p></a>
            {% endfor %}
        </div>
        <div class="col-md-6" align="left">

            {% if user %}
            <a href="{{ url_for('add_city') }}"><button class="btn btn-success">Add New City</button></a>
            {% endif %}

            <h1>Latest Cities Catalog</h1>

            {% for item in items %}
            <a href = "{{ url_for('view_city', city_id=item.id) }}"> <p>{{item.name}}</p></a>
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}
